{% extends 'shop/basic.html' %}
{% block title %} About Us{% endblock %}
{% block body %}


<main role="main">

  <!-- Main jumbotron for a primary marketing message or call to action -->
  <div class="jumbotron">
    <div class="container">
      <h1 class="display-3">Shop@Home</h1>
      <p>Shop@Home is an online commerce company based in Lahore, Pakistan. Founded by Syed Hani 2023, the company initially focused on mans items, before expanding into other product categories such as consumer electronics, fashion, and lifestyle products. The service competes primarily with Amazon' s Pakistan subsidiary, and the domestic rival Snapdeal.as of March 2017, Daraz held a 39.5% market share of Pakistan's e-commerce industry.Daraz is significantly dominant in the sale of apparel (a position that was bolstered by its acquisitions) and was described as being "neck and neck" with Amazon in the sale of electronics. </p>
      <p><a class="btn btn-primary btn-lg" style="background-color:#5C9CA4" href="#" role="button">Futher... &raquo;</a></p>
    </div>
  </div>

  <div class="container">
    <!-- Example row of columns -->
    <div class="row">
      <div class="col-md-4">
        <h2>Mail us</h2>
        <p>For business or other relevent query, feel free to mail us 
            on syedhani306@gmail.com.  </p>
        
      </div>
      <div class="col-md-4">
        <h2>Find-us on</h2>
        <p>
      
                   <i> <li><a href="https://github.com/syedHani08/">GitHub</a></li>
                    <li><a href="https://www.linkedin.com/in/syed-hani-844a60200">Linkdin</a></li>
                    <li><a href="https://www.instagram.com/syed_hani_/">Instagram</a></li></i>
                </ol>
      </p>
        
      
    <hr>

  </div> <!-- /container -->

</main>

<footer class="container">
  <p>&copy; Syed'Developers</p>
</footer>
<b><h6 style="text-align: center;">Developed by Syed Hani &copy;</h6></b>
<h6 style="text-align: center;">CopyRights &copy;2022 Syed'Developers All Rights Reserverd</h6>
<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
      <script>window.jQuery || document.write('<script src="/docs/4.5/assets/js/vendor/jquery.slim.min.js"><\/script>')</script><script src="/docs/4.5/dist/js/bootstrap.bundle.min.js" integrity="sha384-LtrjvnR4Twt/qOuYxE721u19sVFLVSA4hf/rRt6PrZTmiPltdZcI7q7PXQBYTKyf" crossorigin="anonymous"></script></body>
</html>


{% endblock %}